// Googles fonts
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// Colors
$primary-color: #420067;
$secondary-color: #CF3386;
$thirt-color: #7F0DE8;
$text-color: #282C2C;
$bg-body: #FFFFFF;
$title-color: #2B1932;
$bg-purple: #7145e0;
$samsung-color: #133E94; 